beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
cssselect==1.0.3
fake-useragent==0.1.10
Flask==0.12.2
Flask-Cors==3.0.3
Flask-PyMongo==0.5.1
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.6.3
MarkupSafe==1.0
parse==1.8.2
pymongo==3.6.0
PyQt5==5.10
pyquery==1.4.0
requests==2.18.4
requests-html==0.3.2
sip==4.19.7
six==1.11.0
urllib3==1.22
Werkzeug==0.14.1
